@media (min-width:1000px)
{  .circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(120deg, #151226, #2c3e50);
  }
  .circles {
    position: absolute;
  }
  .circle-1 {
    height: 300px;
    width: 300px;
    top: 100px;
    left: -250px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    animation-direction: alternate;
  }
  
  .circle-2 {
    height: 240px;
    width: 240px;
    bottom: -40px;
    right: 150px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    animation-direction: alternate;
  }

  .circle-3 {
    height: 240px;
    width: 240px;
    bottom: 70px;
    right: -100px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    animation-direction: alternate;
  }
  /* Background circles end */
  
  /* ANIMATIONS */
  @keyframes explode {
    0% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  @keyframes float {
    0% {
      -webkit-transform: rotateX(0deg) translateY(0px);
      -moz-transform: rotateX(0deg) translateY(0px);
      -ms-transform: rotateX(0deg) translateY(0px);
      -o-transform: rotateX(0deg) translateY(0px);
      transform: rotateX(0deg) translateY(0px);
    }
  
    50% {
      -webkit-transform: rotateX(0deg) translateY(1px) translateX(5px);
      -moz-transform: rotateX(0deg) translateY(10px) translateX(5px);
      -ms-transform: rotateX(0deg) translateY(30px) translateX(5px);
      -o-transform: rotateX(0deg) translateY(40px) translateX(5px);
      transform: rotateX(0deg) translateY(10px) translateX(5px);
    }
    100% {
      -webkit-transform: rotateX(0deg) translateY(0px) translateX(1px);
      -moz-transform: rotateX(0deg) translateY(0px) translateX(1px);
      -ms-transform: rotateX(0deg) translateY(0px) translateX(1px);
      -o-transform: rotateX(0deg) translateY(0px) translateX(1px);
      transform: rotateX(0deg) translateY(0px) translateX(1px);
    }
  }
  
  .mdl {
    height: auto;
    /* width: 420px; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-60%, -60%);
  }
}
  